.store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store_products {
  padding: 12px;
}

.store_products_title {
  margin-bottom: 15px;
}

.store_products_list {
  list-style: none;
}

.store_products_list_item {
  -webkit-box-shadow: 3px 3px 6px 2px #bfbdbd;
          box-shadow: 3px 3px 6px 2px #bfbdbd;
  padding: 12px;
  border-radius: 5px;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.store_products_list_item_pic {
  width: 70px;
}

.store_products_list_item_details {
  width: calc(100% - 100px);
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.store_products_list_item_details_left_description {
  font-size: 14px;
  font-weight: lighter;
  line-height: 19px;
  margin-top: 7px;
}

.store_products_list_item_details_right {
  min-width: 100px;
  text-align: right;
}

.store_products_list_item_details_right_price {
  font-size: 15px;
  margin: 10px 0;
}

.store_products_list_item_details_right_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 7px;
}

.store_products_list_item_details_right_rating svg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 20px;
  height: 20px;
  fill: #f5d93e;
}

.store_products_list_item_addBtn {
  background: dodgerblue;
  padding: 7px 15px;
  border: 0;
  border-radius: 4px;
  color: white;
  -webkit-box-shadow: 1px 1px 6px 2px gainsboro;
          box-shadow: 1px 1px 6px 2px gainsboro;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.store_products_list_item_addBtn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.store_cart {
  width: 50%;
  padding: 20px;
  background: #ebebeb;
  min-height: 100vh;
}

.store_cart_elmnts_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 2px solid gainsboro;
}

.store_cart_elmnts_element_pic {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 100vw;
  border: 1px solid #8a8a8a;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.store_cart_elmnts_element_pic img {
  width: 100%;
}

.store_cart_elmnts_element_details {
  width: calc(100% - 160px);
  margin-left: 20px;
}

.store_cart_elmnts_element_details_name {
  margin-bottom: 10px;
}

.store_cart_elmnts_element_details_controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store_cart_elmnts_element_details_controls button {
  background-color: white;
  height: 20px;
  width: 20px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 5px;
  border-radius: 100vw;
  border-width: 1px;
  cursor: pointer;
  font-size: 18px;
}

.store_cart_elmnts_element_details_controls button:nth-child(2) {
  line-height: 15px;
  margin-left: 10px;
}

.store_cart_elmnts_element_details_controls span {
  font-weight: 900;
  margin: 0 10px;
}

.store_cart_elmnts_element_price {
  min-width: 50px;
}

.store_cart_elmnts_element_price_disc {
  color: #ff3b3b;
  text-decoration: line-through;
}

.store_cart_results {
  text-align: right;
}

.store_cart_results_result {
  margin: 10px 0;
}

.store_cart_results_result h5 {
  margin: 5px;
}

.store_cart_results_result h5:nth-child(1) {
  color: #5a5a5a;
}
