.store {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	&_products {
		padding: 12px;
		&_title {
			margin-bottom: 15px;
		}
		&_list {
			list-style: none;
			&_item {
				box-shadow: 3px 3px 6px 2px #bfbdbd;
				padding: 12px;
				border-radius: 5px;
				margin: 5px 0;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex-wrap: wrap;
				flex-shrink: 0;
				&_pic {
					width: 70px;
				}
				&_details {
					width: calc(100% - 100px);
					margin-left: 20px;
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					&_left {
						&_description {
							font-size: 14px;
							font-weight: lighter;
							line-height: 19px;
							margin-top: 7px;
						}
					}
					&_right {
						min-width: 100px;
						text-align: right;
						&_price {
							font-size: 15px;
							margin: 10px 0;
						}
						&_rating {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							flex-shrink: 0;

							margin-bottom: 7px;
							svg {
								flex-grow: 0;
								flex-shrink: 0;
								width: 20px;
								height: 20px;
								fill: #f5d93e;
							}
						}
					}
				}
				&_addBtn {
					background: dodgerblue;
					padding: 7px 15px;
					border: 0;
					border-radius: 4px;
					color: white;
					box-shadow: 1px 1px 6px 2px gainsboro;
					cursor: pointer;
					transition: 0.3s;
					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}
	}
	&_cart {
		width: 50%;
		padding: 20px;
		background: #ebebeb;
		min-height: 100vh;
		&_elmnts {
			&_element {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px 0;
				margin: 10px 0;
				border-bottom: 2px solid gainsboro;
				&_pic {
					width: 70px;
					height: 70px;
					overflow: hidden;
					border-radius: 100vw;
					border: 1px solid rgb(138, 138, 138);
					display: grid;
					place-items: center;

					img {
						width: 100%;
					}
				}
				&_details {
					width: calc(100% - 160px);
					margin-left: 20px;
					&_name {
						margin-bottom: 10px;
					}
					&_controls {
						display: flex;
						align-items: center;

						button {
							background-color: white;
							height: 20px;
							width: 20px;
							display: grid;
							place-items: center;
							margin: 0 5px;
							border-radius: 100vw;
							border-width: 1px;
							cursor: pointer;
							font-size: 18px;
						}
						button:nth-child(2) {
							line-height: 15px;
							margin-left: 10px;
						}
						span {
							font-weight: 900;
							margin: 0 10px;
						}
					}
				}
				&_price {
					min-width: 50px;
					&_disc {
						color: #ff3b3b;
						text-decoration: line-through;
					}
				}
			}
		}
		&_results {
			text-align: right;
			&_result {
				margin: 10px 0;
				h5 {
					margin: 5px;
				}
				h5:nth-child(1) {
					color: #5a5a5a;
				}
			}
		}
	}
}
